In [2]:
import pandas as pd
import os
from tqdm import tqdm
import numpy as np

locdfs = {}
fatdfs = {}
detdfs = {}

floodcsv = [os.path.join("data", i) for i in os.listdir("data") if "StormEvents" in i]

for csvname in tqdm(floodcsv):
    # print(csvname)
    year = csvname.split("_")[3][1:]
    if "details" in csvname:
        detdfs[year] = pd.read_csv(csvname, low_memory=False)
    elif "fatalities" in csvname:
        fatdfs[year] = pd.read_csv(csvname, low_memory=False)
    elif "location" in csvname:
        locdfs[year] = pd.read_csv(csvname, low_memory=False)

locationdf = pd.concat(locdfs)
fatalitydf = pd.concat(fatdfs)
detdf = pd.concat(detdfs)

print(locationdf.columns)
print(fatalitydf.columns)
print(detdf.columns)

100%|██████████| 210/210 [00:20<00:00, 10.13it/s]
Index(['YEARMONTH', 'EPISODE_ID', 'EVENT_ID', 'LOCATION_INDEX', 'RANGE',
       'AZIMUTH', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'LAT2', 'LON2'],
      dtype='object')
Index(['FAT_YEARMONTH', 'FAT_DAY', 'FAT_TIME', 'FATALITY_ID', 'EVENT_ID',
       'FATALITY_TYPE', 'FATALITY_DATE', 'FATALITY_AGE', 'FATALITY_SEX',
       'FATALITY_LOCATION', 'EVENT_YEARMONTH'],
      dtype='object')
Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [32]:
detdf.iloc[0]

BEGIN_YEARMONTH                                                  200912
BEGIN_DAY                                                             9
BEGIN_TIME                                                          400
END_YEARMONTH                                                    200912
END_DAY                                                               9
END_TIME                                                           1400
EPISODE_ID                                                        35732
EVENT_ID                                                         206802
STATE                                                     NEW HAMPSHIRE
STATE_FIPS                                                           33
YEAR                                                               2009
MONTH_NAME                                                     December
EVENT_TYPE                                                   Heavy Snow
CZ_TYPE                                                               Z
CZ_FIPS                                                              12
CZ_NAME                                            EASTERN HILLSBOROUGH
WFO                                                                 BOX
BEGIN_DATE_TIME                                      09-DEC-09 04:00:00
CZ_TIMEZONE                                                       EST-5
END_DATE_TIME                                        09-DEC-09 14:00:00
INJURIES_DIRECT                                                       0
INJURIES_INDIRECT                                                     0
DEATHS_DIRECT                                                         0
DEATHS_INDIRECT                                                       0
DAMAGE_PROPERTY                                                   5.00K
DAMAGE_CROPS                                                      0.00K
SOURCE                                                    Amateur Radio
MAGNITUDE                                                           NaN
MAGNITUDE_TYPE                                                      NaN
FLOOD_CAUSE                                                         NaN
CATEGORY                                                            NaN
TOR_F_SCALE                                                         NaN
TOR_LENGTH                                                          NaN
TOR_WIDTH                                                           NaN
TOR_OTHER_WFO                                                       NaN
TOR_OTHER_CZ_STATE                                                  NaN
TOR_OTHER_CZ_FIPS                                                   NaN
TOR_OTHER_CZ_NAME                                                   NaN
BEGIN_RANGE                                                         NaN
BEGIN_AZIMUTH                                                       NaN
BEGIN_LOCATION                                                      NaN
END_RANGE                                                           NaN
END_AZIMUTH                                                         NaN
END_LOCATION                                                        NaN
BEGIN_LAT                                                           NaN
BEGIN_LON                                                           NaN
END_LAT                                                             NaN
END_LON                                                             NaN
EPISODE_NARRATIVE     Strong low pressure moved over the Cape Cod Ca...
EVENT_NARRATIVE       A tree was downed in Pelham by heavy snow and ...
DATA_SOURCE                                                         CSV
Name: (2009, 0), dtype: object

In [90]:
detdf = detdf[(detdf['EVENT_TYPE']=="Flash Flood") | (detdf['EVENT_TYPE']=="Flood")]

detdf = detdf[['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EVENT_ID', "EVENT_TYPE", "DAMAGE_PROPERTY", "DAMAGE_CROPS", "DEATHS_DIRECT", "DEATHS_INDIRECT", "INJURIES_DIRECT", "INJURIES_INDIRECT", "BEGIN_LAT", "BEGIN_LON", "END_LAT", "END_LON"]]

detdf.dropna(inplace=True)

print(len(detdf))
detdf.head()

90487

         BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  \
2009 89           200912         25        1115         200912       25
     90           200912         25        1200         200912       25
     91           200912         25        1200         200912       25
     92           200912         25        1300         200912       25
     93           200912         25        1300         200912       25

         END_TIME  EVENT_ID   EVENT_TYPE DAMAGE_PROPERTY DAMAGE_CROPS  \
2009 89      1245    200363  Flash Flood           4.00K        0.00K
     90      1245    200364  Flash Flood           8.00K        0.00K
     91      1245    200366  Flash Flood           8.00K        0.00K
     92      1415    200369  Flash Flood          10.00K        0.00K
     93      1415    200370  Flash Flood          10.00K        0.00K

         INJURIES_DIRECT  INJURIES_INDIRECT  BEGIN_LAT  BEGIN_LON  END_LAT  \
2009 89                0                  0     34.000   -81.0200  33.9952
     90                0                  0     34.080   -81.1800  33.9576
     91                0                  0     34.095   -80.9706  34.0865
     92                0                  0     34.720   -80.7700  34.2845
     93                0                  0     34.720   -80.7700  34.2845

         END_LON
2009 89 -81.0422
     90 -81.1299
     91 -81.1845
     92 -81.2164
     93 -81.2164